/*iporto la fuente krona one y montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*declaracion de variables*/
:root {
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    /*height: 100vh; */ /*representa el 1% de la altura de la ventana gráfica (viewport) del navegado*/
    box-sizing: border-box;
}

.header {
    padding: 2% 0 0 15%; /*padding-top padding-right, padding-bottom, padding-left*/
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu_link {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo-destacado{
    color: var(--color-terciario);
}

.presentacion__contenido_texto {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;/*uso align-items porque ahora defini los elementos en vertical y justify-content:center no funciona*/
    gap: 32px;
}

.presentacion__enlaces__subtitulo {
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlaces__link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0; /*1er valor padding vertical*/
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;/*tamaño grosor letra*/
    text-decoration: none;/*elimino el underline*/
    color: var(--color-secundario);/*color texto link*/
    border: 2px dotted var(--color-terciario); /*tamaño, estilo, color*/
    display: flex;/*por defecto: esta sobre row*/
    justify-content: center;
    gap: 10px;/*separo el texto del icono*/
}

.presentacion__enlaces__link:hover {
    background-color: var(--color-hover);
}

.presentacion__imagen {
    width: 50%;
}

.footer {
    background-color: var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width:1200px) {

    .header {
        padding: 10%;
    }
    .header__menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido {
        width: auto;/*se adapta al elemento padre*/
    }
}